{% extends 'client/layout.html' %}
{% block content %}
<style>
    .bg-color-1 {
        background-color: #f8f9fa;
        /* Light gray */
    }

    .bg-color-2 {
        background-color: #e9ecef;
        /* Slightly darker gray */
    }

    .bg-color-3 {
        background-color: #dee2e6;
        /* Even darker gray */
    }

    .bg-color-4 {
        background-color: #ced4da;
        /* Darkest gray */
    }
</style>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                {%for category in categories%}
                <h2 class="mb-4">{{category.categoryTitle}}</h2>
                {% endfor  %}
            </div>
        </div>
        <div class="row">
            {% for journey in journeys %}
            <div class="container">
                <div
                    class="card mb-3 {% if loop.index0 % 4 == 0 %} bg-color-1 {% elif loop.index0 % 4 == 1 %} bg-color-2 {% elif loop.index0 % 4 == 2 %} bg-color-3 {% else %} bg-color-4 {% endif %}">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ journey.imageUrl }}" class="card-img-top" alt="{{ journey.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ journey.name }}</h5>
                                <p class="card-text">{{ journey.description }}</p>
                                <a style="width: 47%;" href="{{ journey.videoUrl }}" class="btn btn-primary"
                                    target="_blank">Watch Video</a>
                                <a style="width: 47%; float: right;" href="{{ journey.streamUrl }}"
                                    class="btn btn-secondary" target="_blank">Join Stream</a>
                                <a style="width: 100%; margin-top: 10px;"
                                    href="{{ url_for('get_journey', journey_id=journey.id) }}"
                                    class="btn btn-primary">Continue Journey</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}