{% extends 'client/layout.html' %}

{% block content %}
<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="container-fluid py-5"
            style="background: linear-gradient(90deg, #060808 0%, #f58b00 100%); color: white; " >
            <div class="row text-center mb-5">
                <div class="col-md-12 mx-auto">
                    <h2 class="mb-3 text-uppercase font-weight-bold">Welcome to <span
                            class="text-warning">T</span>echcamp
                        E-Learning Platform</h2>
                    <div class="divider mx-auto my-4"></div>
                    <h4 class="pt-3 pb-3">An online training for programmers.</h4>
                    <span class="subheading">Start Learning Today</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center mt-4">
            <div class="col-12">
                <h5 class="mb-3 text-uppercase font-weight-bold" style="color: #f58b00; text-align: center;"> choose a Course
                    Category to start journey
                </h5>
            </div>
        </div>

        <div class="row">

            {% for category in categories %}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card h-80">
                    <img height="" src="{{ category.categoryUrl }}" class="card-img-top" alt="{{ category.name }}">
                    <div style="text-align: center;" class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ category.categoryTitle }}</h5>
                        <p class="card-text">{{ category.categoryDescription }}</p>
                        <a href="{{ url_for('category_journeys', category_id=category.id) }}"
                            class="btn btn-primary mt-auto">View courses</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
