<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="An online training for Data Science, Machine Learning, API Engineering, E-Commerce Development, Mobile Application Development">
    <meta name="author" content="TechCamp">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="icon" href="/app/static/img/favicon.png">
    <title>TechCamp - Online Training for Data Science | Machine Learning | API Engineering | E-Commerce Development |
        Mobile Application Development</title>

    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'
        rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'
        type='text/css'>
    <link href="{{ url_for('static', filename='css/client/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/client/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/client/menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/st.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .flash-message {
            margin-top: 20px;
            /* padding: 15px; */
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
        }

        .flash-message.success {
            background-color: #28a745;
        }

        .flash-message.error {
            background-color: #dc3545;
            /* Red */
        }
    </style>
</head>

<body>
    <div class="page-loader">
        <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark
     ftco-navbar-dark" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand mobile pull-left" href="#"><span
                    class="logo-style"><span style="color: orange;">T</span>echCamp</span></a>
            <a class="mobile-menu-close"><i class="fa fa-random"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link"
                            style="color: orange;">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.techcamp.live/bootcamps" target="_blank"><i
                                class="fa fa-bolt"></i><span class="link-item" style="color: orange;">Virtual
                                Class</span></a>
                    </li>
                    <li style="color: orange;" class="nav-item"><a href="{{ url_for('index') }}" class="nav-link"
                            style="color: orange;">Online Class </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/parallax.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/countto.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/portfolio.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/animheader.js') }}"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="{{ url_for('static', filename = 'js/js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>